<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- BEER@Depthfirst edit 2018-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Depthfirst</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="drbController">
    <div id="wrapper">
        <div id="page">
            <div class="row">
                <div class="col-lg-12">                        
                    <table>
                        <tr>
                            <th width="95%"><h3 class="page-header">&nbsp;&nbsp; รับครุภัณฑ์เบิกจากคลัง</h3></th>
                            <th><h4 class="page-header">DRB007&nbsp;&nbsp;</h4></th>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- ./row -->

            <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <label>เพิ่มข้อมมูล</label>                                   
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="row to-buffer">
                                        <div class="col-md-2" align="right">เลขทีเบิก:</div>
                                        <div class="col-md-4" align="left"><input type="text" class="form-control" style="width:30%; display: inline-block;" value="6xxxxx" disabled="true"></div>
                                        <div class="col-md-2" align="right">ปีงบประมาณ:</div>
                                        <div class="col-md-4" align="left"><select class="form-control" ng-model="yearId" ng-init="yearId='2'" style="width:70%; display: inline-block;" disabled="true">
                                                <option ng-repeat="a in fiscalYears" value="{{a.id}}">{{a.fiscalYear}}</option>
                                            </select>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row to-buffer">
                                        <div class="col-md-2" align="right">วันที่เบิก:</div>
                                        <div class="col-md-4" align="left"><input type="text" class="form-control" style="width:45%; display: inline-block;" value="xx/xx/xxxx" disabled="true"></div>
                                        <div class="col-md-2" align="right"></div>
                                        <div class="col-md-4" align="left"></div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row to-buffer">
                                        <div class="col-md-2" align="right">สำนัก/กอง:</div>
                                        <div class="col-md-4" align="left"><select class="form-control" style="width:95%; display: inline-block;" disabled="true" ng-model="unitId" ng-init="unitId='1'">
                                            <option value=""></option>
                                            <option ng-repeat="a in units" value="{{a.id}}">{{a.label}}</option>
                                        </select></div>
                                        <div class="col-md-2" align="right"></div>
                                        <div class="col-md-4" align="left"></div>  
                                    </div>
                                </div>

                                <div class="row to-buffer">
                                        <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">ลำดับ</th>
                                                        <th width="20%">ประเภท</th>
                                                        <th width="20%">ลักษณะ/คุณสมบัติ</th>
                                                        <th width="30%">รหัสครุภัณฑ์</th>
                                                        <th width="30%">รายละเอียด</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td><select class="form-control" ng-model="durableId" ng-change="selectDurable(durableId)" ng-init="durableId='1'" disabled="true">
                                                                <option value=""></option>
                                                                <option ng-repeat="a in durables" value="{{a.id}}">{{a.label}}</option>
                                                            </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                                <option value="">โต๊ะ</option>
                                                                <option ng-repeat="b in unitdurablesSups">{{b.label}}</option>
                                                        </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                            <option value="">1พก/สสก/xx-xx-xxxx/xxxx</option>
                                                            
                                                        </select> </td>
                                                        <td><input type="text" class="form-control" disabled="true" value="xxxxxxxxxxxxxxxxxxxxx xxxxx">  </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.</td>
                                                        <td><select class="form-control" ng-model="durableId" ng-change="selectDurable(durableId)" ng-init="durableId='1'" disabled="true">
                                                                <option value=""></option>
                                                                <option ng-repeat="a in durables" value="{{a.id}}">{{a.label}}</option>
                                                            </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                                <option value="">โต๊ะ</option>
                                                                <option ng-repeat="b in unitdurablesSups">{{b.label}}</option>
                                                        </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                            <option value="">1พก/สสก/xx-xx-xxxx/xxxx</option>
                                                            
                                                        </select> </td>
                                                        <td><input type="text" class="form-control" disabled="true" value="xxxxxxxxxxxxxxxxxxxxx xxxxx">  </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3.</td>
                                                        <td><select class="form-control" ng-model="durableId" ng-change="selectDurable(durableId)" ng-init="durableId='1'" disabled="true">
                                                                <option value=""></option>
                                                                <option ng-repeat="a in durables" value="{{a.id}}">{{a.label}}</option>
                                                            </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                                <option value="">โต๊ะ</option>
                                                                <option ng-repeat="b in unitdurablesSups">{{b.label}}</option>
                                                        </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                            <option value="">1พก/สสก/xx-xx-xxxx/xxxx</option>
                                                            
                                                        </select> </td>
                                                        <td><input type="text" class="form-control" disabled="true" value="xxxxxxxxxxxxxxxxxxxxx xxxxx">  </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4.</td>
                                                        <td><select class="form-control" ng-model="durableId" ng-change="selectDurable(durableId)" ng-init="durableId='1'" disabled="true">
                                                                <option value=""></option>
                                                                <option ng-repeat="a in durables" value="{{a.id}}">{{a.label}}</option>
                                                            </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                                <option value="">โต๊ะ</option>
                                                                <option ng-repeat="b in unitdurablesSups">{{b.label}}</option>
                                                        </select></td>
                                                        <td><select class="form-control" disabled="true">
                                                            <option value="">1พก/สสก/xx-xx-xxxx/xxxx</option>
                                                            
                                                        </select> </td>
                                                        <td><input type="text" class="form-control" disabled="true" value="xxxxxxxxxxxxxxxxxxxxx xxxxx">  </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- ./row -->

                                    <div class="row to-buffer" align="center">
                                        <button type="submit" class="btn btn-success" onclick="location.href='DRB005_L.html'"><i class="fa fa-save"></i>&nbsp;บันทึกยืนยัน</button>
                                        <button type="submit" class="btn btn-warning" onclick="location.href='DRB005_L.html'"><i class="fa fa-reply"></i>&nbsp;ย้อนกลับ</button>
                                    </div>


                            </div>
                        </div>
                    </div>
            </div>
            <!-- ./row -->





        </div>
        <!-- ./page -->
    </div>
    <!-- ./wrapper -->
                


    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <!-- Angular -->
    <script src="../vendor/angular/angular.min.js"></script>
    <script src="../vendor/angular/app.js"></script>
    <style>
        th {
            padding-top: .2em;
            padding-bottom: .2em;
        }
        .to-buffer{
            padding-top: .2em;
            padding-bottom: .2em;
        }
    </style>
</body>
</html>
